/*- Spacing system
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* GLOBAL STYLES
-------------------------------------------------- */
:root {
  --primaryColor: #252422;
  --tint: #ccc5b9;
  --shade: #403d39;
  --accent: #eb5e28;
  --whiteish: #fffcf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--primaryColor);
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif", serif;
}

/* HEADER - navigation
-------------------------------------------------- */
#header {
  height: 100vh;
}

.navbar {
  padding: 0.8rem;
  padding-left: 3.2rem;
  background-color: var(--primaryColor);
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-link:link,
.nav-link:visited {
  color: var(--whiteish);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:active {
  color: var(--accent);
}

.navbar-toggler {
  background-color: var(--tint);
}

/* HERO SECTION 
-------------------------------------------------- */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero-banner.avif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4.8rem;
  padding: 4.8rem;
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: var(--whiteish);
  font-style: italic;
  font-size: 4.8rem;
}

.hero-container h3 {
  color: var(--tint);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 2px;
}

/* SECTION GENERAL STYLES 
-------------------------------------------------- */
section {
  padding: 6.4rem 4.8rem 0 4.8rem;
  margin-bottom: 2.4rem;
}

section:first-child {
  padding: 3rem 4.8rem 0 4.8rem;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.section-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 1rem;

  position: relative;
  z-index: 999;
}

.section-title span {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  z-index: 1;

  color: rgba(204, 197, 185, 0.4);
  font-family: "DM Serif", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 16px;
}

.lead {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

/* ABOUT ME SECTION
-------------------------------------------------- */
.about-img {
  background-image: url(../img/ewelinastudio-painting.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 24rem;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: var(--accent);
}

/* SKILL SECTION 
-------------------------------------------------- */
.skill {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--shade);
  font-weight: 700;
}

.value {
  float: right;
}

.progress {
  color: rgba(204, 197, 185, 0.4);
  margin-bottom: 2.4rem;
  height: 10px;
}

.progress-bar {
  height: 10px;
  background-color: var(--accent);
}

/* PORTFOLIO SECTION 
-------------------------------------------------- */
.portfolio-item {
  margin-bottom: 2.4rem;
  position: relative;
  height: 24rem;
}

.portfolio-img {
  overflow: hidden;
  z-index: 1;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link {
  width: auto;
  height: 100%;
  /* transform: translate(-15%, 0); */
  transition: all 0.8s ease-in-out;
}

.portfolio-title {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 12px;
  right: 12px;

  background-color: rgba(37, 36, 34, 0.8);
  padding: 1rem;
}

.portfolio-title h4 {
  font-size: 1.2rem;
  color: var(--whiteish);
  font-weight: 700;
}

.portfolio-title p {
  color: var(--whiteish);
}

.preview-link,
.code-link {
  position: absolute;
  font-size: 2.4rem;
  top: calc(50% - 27px);
  color: var(--whiteish);
  transition: 0.3s;
}

.preview-link {
  right: 6.4rem;
}

.code-link {
  right: 2rem;
}

.preview-link:hover,
.code-link:hover {
  color: var(--accent);
}

.portfolio-item:hover .img-link {
  transform: scale(1.2);
}

/* RESUME SECTION 
-------------------------------------------------- */

.resume-title {
  color: var(--shade);
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 2px;
  margin: 2.4rem 0 1rem 0;
}

.resume-item {
  padding: 0 0 0.8rem 1.6rem;
  border-left: 2px solid var(--shade);
  position: relative;
}

.resume-item h4 {
  color: var(--accent);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1rem;
}

.resume-item h5 {
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(204, 197, 185, 0.4);
  display: inline-block;
  padding: 0.2rem 1rem;
}

.item-em {
  font-style: italic;
}

.resume-item ul {
  padding-left: 1.2rem;
}

.resume-item ul li {
  padding-bottom: 0.8rem;
}

.resume-item:last-child {
  padding-bottom: 0;
}

.resume-item::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  left: -0.5rem;
  top: 0rem;
  background-color: var(--whiteish);
  border: 2px solid var(--shade);
}
