/* GLOBAL STYLES
-------------------------------------------------- */
:root {
  --primaryColor: #252422;
  --tint: #ccc5b9;
  --shade: #403d39;
  --accent: #eb5e28;
  --whiteish: #fffcf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--primaryColor);
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif", serif;
}

section {
  margin-bottom: 4.8rem;
}

/* HEADER - navigation
-------------------------------------------------- */
#header {
  height: 100vh;
  background-color: var(--primaryColor);
}

.navbar {
  padding: 0.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-link:link,
.nav-link:visited {
  color: var(--whiteish);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:active {
  color: var(--accent);
}

.navbar-toggler {
  background-color: var(--tint);
}

/* HERO SECTION 
-------------------------------------------------- */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero-banner.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: var(--whiteish);
  font-style: italic;
  font-size: 4.8rem;
}

.hero-container h4 {
  color: var(--tint);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

/* .jumbotron {
  background-image: url(../img/hero-banner.avif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 4.8rem;
  padding-bottom: 6.4rem;
}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: var(--accent);
  text-align: left;
} */

/* ABOUT ME 
-------------------------------------------------- */
.about-img {
  width: 100%;
  box-shadow: -10px 10px 2px 0 rgba(64, 61, 57, 0.7);
}

.heading-secondary {
  letter-spacing: 1px;
  color: var(--shade);
  border-left: 5px solid var(--shade);
  padding-left: 1rem;
  margin-left: 1rem;
}

.subheading {
  color: var(--tint);
  margin-bottom: -0.4rem;
}

.lead {
  font-size: 1rem;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: var(--accent);
}
